.panel-primary>.panel-heading {
                color: #fff !important;
                background-color: #0275d8 !important;
                border-color: #0275d8 !important;
            }
            .container {
                width: 1414px !important;
            }